<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examle.myapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="BabyCray Translat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".six"></activity>
        <activity android:name=".Five" />
        <activity android:name=".four" />
        <activity android:name=".Three" />
        <activity android:name=".Two" />
        <activity android:name=".one" />
        <activity
            android:name=".MainActivity"
            android:label="BabyCray Translat"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>